<header>
    <nav>
        <% if (currentUser) { %>
            <h1>Welcome, <%= currentUser.username %> </h1>
            <form action="/sessions?_method=DELETE" method="POST">
                <input type="submit" value="Log Out">
            </form>
            <a href="/">Back to Home</a>
           <% } else { %>
            <a href="/users/new">
                <span>sign up</span>
            </a>
            <a href="/sessions/new">
                <span>Log In</span>
            </a>
           <% } %>
    </nav>
</header>