<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="destinations">
        <% for( let i = 0; i < currentUser.destinations.length; i++ ) { %>
            <a href="#"><%= currentUser.destinations[i] %> </a></br>
        <% } %>
    </div>

</body>
</html>