<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/header.css">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <h1 class="header">Title</h1>
            <% if (currentUser) { %>
                <h1>Welcome, <%= currentUser.username %> </h1>
                <form action="/sessions?_method=DELETE" method="POST">
                    <input type="submit" value="Log Out">
                </form>
                <a href="/index">Upload Image</a>
               <% } else { %>

                <a href="/users/new">
                    <h1 class="header">sign up</h1>
                </a>
        
                <a href="/sessions/new">
                    <h1 class="header">Log In</h1>
                </a>

               <% } %>
        </nav>
    </header>

    <div id="main">

        <% if (images[0]) { %>
            <% let i = Math.floor(Math.random() * images.length) %> 
            <%= images[i].title %>
            <img src="<%= images[i].imgsrc %> " alt="<%= images[i].title %> "> 
        <% } else { %>
            <h1>Nothing to see here</h1>
        <% } %>


    </div>
</body>
</html>