@import url('https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&display=swap');

* {
  font-family: 'Nanum Brush Script', cursive;
}

#image {
  display: flex;
  flex-direction: column;
}

#main {
  display: flex;
  justify-content: center;
  align-items: center;
}