<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Security-Policy" content="default-src https://apis.google.com; child-src 'none'; object-src 'none'">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <fieldset>
        <legend>Sign Up</legend>
        <form action="/users" method="POST">
            <label for="name">User Name:</label>
            <input type="text" name="username" required/>
            <label for="color">Password:</label>
            <input type="password" name="password" />
            <br>
            <input type="submit" value="Submit">
        </form>
    </fieldset>

    <!-- <fieldset>
        <legend>Login</legend>
        <form action="">
            <input type="text" name="username"><br>
            <input type="text" name="passoword">
        </form>
    </fieldset> -->
</body>
</html>