<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head.ejs') %>
    </head> 
<body>
    <!-- <%#- include('../partials/header.ejs') %>  -->
    <fieldset>
        <legend>Sign Up</legend>
        <form action="/users" method="POST">
            <label for="name">User Name:</label>
            <input type="text" name="username" required/>
            <label for="color">Password:</label>
            <input type="password" name="password" />
            <br>
            <input type="submit" value="Submit">
        </form>
    </fieldset>

    <!-- <fieldset>
        <legend>Login</legend>
        <form action="">
            <input type="text" name="username"><br>
            <input type="text" name="passoword">
        </form>
    </fieldset> -->
</body>
</html>