<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/styles/header.css">
        <link rel="stylesheet" href="/styles/main.css">
        <title>Document</title>
    </head> 
<body>
    <nav>
        <div id="logo">
            <a href="/">
                <span>Toast</span></br>
                <img src="https://i.imgur.com/hDMkYYU.png" alt="toast" id="logoimg">
            </a>
        </div>
    </nav>

    <div id="main">
        <fieldset>
            <legend>Sign Up</legend>
            <form action="/users" method="POST">
                <label for="name">User Name:</label><br>
                <input type="text" name="username" required/><br>
                <label for="color">Password:</label><br>
                <input type="password" name="password" />
                <br>
                <input type="submit" value="Submit" id="submit">
            </form>
        </fieldset>
    </div>
</body>
</html>